@font-face {
    font-weight: 400;
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

    background: #7e57c2;
}

/* BEGIN (write your solution here) */
.terminal {
    padding: 20px 30px;
    color: white;
    background-color: #263238;
    border-radius: 5px;
}

pre {
    margin: 0;
}

code {
    font: 18px/1.5 "JetBrains Mono", monospace;
}

.code-tag {
    color: #ff5370;
}

.code-attr {
    color: #ffcb6b;
}

.code-string {
    color: #c3e88d;
}

.header {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    margin-right: 5px;
}

.red {
    background-color: #ff5f56;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #27c93f;
}

/* END */