@font-face{
    font-weight: 400;
    font-family: Raleway;
    src: url("../assets/fonts/Raleway-Regular.ttf");
  }

  @font-face{
    font-weight: 700;
    font-family: Raleway;
    src: url("../assets/fonts/Raleway-Bold.ttf");
  }
  
  body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 50px;
  
    color: #eee;
  
    font: 20px/1.5 Raleway, sans-serif;
  
    background-image: linear-gradient(to right top, #222831, #282d36, #2d333b, #333841, #393e46);
  }
  
  img {
    max-width: 100%;
  
    vertical-align: middle;
  }
  
  a {
    color: inherit;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    color: #00adb5;
    font-size: 1.5em;
  }
  
  .tabs {
    width: 1024px;
    margin: 0 auto;
  
    column-count: 3;
    column-gap: 0;
  }
  
  .tab-name {
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #00adb5;
  }
  
  .tab-name:hover {
    border-bottom: #5ffbf1 solid 3px;
  }
  
  .tabs-content{
    background-color: #393e46;
    display: block;
    
    column-count: 3;
    column-gap: 30px;
    padding: 20px;
  }
  
  .tabs-content-item{
    display: none;
  }
  
  [data-tab="html"]:hover ~ .tabs-content>[data-tab-content="html"],
  [data-tab="css"]:hover ~ .tabs-content>[data-tab-content="css"],
  [data-tab="js"]:hover ~ .tabs-content>[data-tab-content="js"]{
    display: block;
  }
  
  .span-all {
    column-span: all;
  }
  